<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all padding="0" />
      <mj-text font-family="sans-serif" />
      <mj-class name="header" padding="10px 10px 20px 10px" background-color="white" />
      <mj-class name="header-title" align="left" font-family="monospace" font-size="24pt" font-weight="600" line-height="24pt" padding-bottom="10px" />
      <mj-class name="header-image" align="right" width="100px" />
      <mj-class name="header-issue" align="left" font-family="monospace" font-weight="200" />
      <mj-class name="header-date" align="right" font-family="monospace" font-weight="200" />

      <mj-class name="article" padding-bottom="10px" />
      <mj-class name="article-title" font-family="monospace" font-weight="400" font-size="14pt" />

      <mj-class name="summary" padding="0 10px 20px 10px" />

      <mj-class name="category-heading" font-family="monospace" font-weight="600" font-size="18pt" />

      <mj-class name="articles" padding="0 10px 0 10px" />

      <mj-class name="footer" padding="10px 10px 10px 10px" />

      <mj-class name="footer-unsub" align="left" />
      <mj-class name="footer-feedback" align="right" />
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-container>

      <!-- Header -->
      <mj-wrapper mj-class="header">
        <mj-section>
          <mj-column width="100%" vertical-align="middle">
            <mj-text mj-class="header-title">{{.Title}}</mj-text>
          </mj-column>
        </mj-section>

        <mj-section>
          <mj-group>
            <mj-column width="50%">
              <mj-text mj-class="header-issue">Issue No. {{.IssueNo}}</mj-text>
            </mj-column>
            <mj-column width="50%">
              <mj-text mj-class="header-date">{{.PubDate}}</mj-text>
            </mj-column>
          </mj-group>
        </mj-section>

        <mj-section>
          <mj-column>
            <mj-divider border-width="1px" border-style="dotted" border-color="lightgrey" />
          </mj-column>
        </mj-section>
      </mj-wrapper>
      <!-- /Header -->

      <!-- Summary -->
      <mj-section mj-class="summary">
        <mj-column>
          <mj-text>
            {{.WelcomeText}}
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- Articles -->
			<mj-wrapper mj-class="articles">
				{{range .Articles}}
          {{if eq .Category "GENERAL"}}
					<mj-section mj-class="article">
						<mj-column>
							{{if eq .Type "TEXT"}}
              <mj-text mj-class="article-title"><a href="{{.URL}}">{{.Title}}{{if eq .Type "VIDEO"}} [video] {{end}}</a></mj-text>
              {{else if eq .Type "IMAGE"}}
              <mj-image width="500px" src="{{.URL}}" />
              {{end}}
							<mj-text mj-class="article-summary">{{.Summary}}</mj-text>
						</mj-column>
					</mj-section>
				  {{end}}
        {{end}}

        <mj-section>
          <mj-column>
            <mj-text>
              <h2>Dev Basement 🤓</h2>
            </mj-text>
          </mj-column>
        </mj-section>

        {{range .Articles}}
          {{if eq .Category "DEV"}}
					<mj-section mj-class="article">
						<mj-column>
							{{if eq .Type "TEXT"}}
              <mj-text mj-class="article-title"><a href="{{.URL}}">{{.Title}}{{if eq .Type "VIDEO"}} [video] {{end}}</a></mj-text>
              {{else if eq .Type "IMAGE"}}
              <mj-image width="500px" src="{{.URL}}" />
              {{end}}
							<mj-text mj-class="article-summary">{{.Summary}}</mj-text>
						</mj-column>
					</mj-section>
				  {{end}}
        {{end}}

        <mj-section>
          <mj-column>
            <mj-text>
              <h2>Recipe of the Week 🍽</h2>
            </mj-text>
          </mj-column>
        </mj-section>

        {{range .Articles}}
          {{if eq .Category "RECIPE"}}
					<mj-section mj-class="article">
						<mj-column>
              {{if eq .Type "TEXT"}}
							<mj-text mj-class="article-title"><a href="{{.URL}}">{{.Title}}{{if eq .Type "VIDEO"}} [video] {{end}}</a></mj-text>
              {{else if eq .Type "IMAGE"}}
              <mj-image width="500px" src="{{.URL}}" />
              {{end}}
							<mj-text mj-class="article-summary">{{.Summary}}</mj-text>
						</mj-column>
					</mj-section>
				  {{end}}
        {{end}}
      </mj-wrapper>

      <!-- Footer -->
      <mj-wrapper mj-class="footer">
        <mj-section>
          <mj-column>
            <mj-divider border-width="1px" border-style="dotted" border-color="lightgrey" padding-bottom="5px" />
          </mj-column>
        </mj-section>

        <mj-section>
          <mj-group>
            <mj-column width="50%">
              <mj-text mj-class="footer-unsub">Not interested? <a href="mailto:jamesliu@au1.ibm.com?Subject=iX%20Newsletter%20--%20Unsubscribe">Unsubscribe</a></mj-text>
            </mj-column>
            <mj-column width="50%">
              <mj-text mj-class="footer-feedback"><a href="mailto:jamesliu@au1.ibm.com?Subject=iX%20Newsletter%20--%20Feedback">Feedback</a></mj-text>
            </mj-column>
          </mj-group>
        </mj-section>
      </mj-wrapper>

    </mj-container>
  </mj-body>
</mjml>
